.site-title {
	color: #ff8c00;
}

body {
	font-family: 'Arial', sans-serif;
	background-color: #fee5af;
	text-align: center;
	padding: 50px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
	margin: auto;
}

#draw-card-btn {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	background-color: #b90b1e;
	color: white;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}

#draw-card-btn:hover {
	background-color: #822a1a;
}

#card-display {
	display: none;
	margin-top: 20px;
}

#card-name {
	font-size: 24px;
	color: #ff8c00;
}

#card-image {
	width: 100%;
	max-width: 150px;
	border-radius: 10px;
}

#card-description {
	font-size: 16px;
	color: #333;
}
